@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

.nav-menu {
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    gap: 15px;
    overflow: hidden;
    background-color: #373636;
    position: fixed;
    list-style: none;
    display: flex;
}

.nav-item {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 15px;
}

body {
    padding-top: 100px;
    background-color: rgb(244, 243, 243);
}

.container {
    display: grid;
    padding-left: 10%;
    padding-right: 10%;
    grid-gap: 10px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        'a a f g'
        'a a b c'
        'a a d e';
}

.main-box {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    max-width: 400px;
    max-height: 500px;
}

.box {
    text-align: left;
    display: flex;
    gap: 10px;
}

.news-title {
    color: rgb(181, 16, 16);
    font-family: 'Roboto', sans-serif;
}

.news-title:hover {
    color: rgb(118, 13, 13);
    cursor: pointer;
}

.news-category {
    color: rgb(209, 169, 35);
    font-family: 'Roboto', sans-serif;
}

.news-list-title {
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
}

.news-list {
    border-radius: 2%;
    border: 1px solid lightgray;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.news-list-link {
    color: rgb(181, 16, 16);
}

.news-list-link:hover {
    color: rgb(118, 13, 13);
    cursor: pointer;
}

.main-news-img:hover {
    cursor: pointer;
}

.small-news-img:hover {
    cursor: pointer;
}

img {
    border-radius: 10%;
    border: 1px solid lightgray;
}

.a {
    grid-area: a;
}

.b {
    grid-area: b;
}

.c {
    grid-area: c;
}

.d {
    grid-area: d;
}

.e {
    grid-area: e;
}